<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>
    <%=title%>
  </title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <style media="screen">
    * {
      margin: 0;
      padding: 0;
    }

    .center-block {
      display: block;
      margin-left: auto;
      width: 30%;
      margin-right: auto;
    }
  </style>

</head>

<body>
  <div class="container">
